body {
text-align: center; 
background: linear-gradient(#28d14a,#eba523)    
}
#title1 {
font-variant: small-caps;  
font-size:50px; 
}
.links {
float: left;
font-family: fantasy ;
font-size: 20px;        
}
#information {
text-align: justify;    
}